<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DYTmovie</display-name>
  <servlet>
    <servlet-name>Logintest</servlet-name>
    <servlet-class>Logintest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTest</servlet-name>
    <servlet-class>SearchTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>movie</servlet-name>
    <servlet-class>movie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>star</servlet-name>
    <servlet-class>star</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewItems</servlet-name>
    <servlet-class>viewItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>CheckOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetaData</servlet-name>
    <servlet-class>MetaData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Call</servlet-name>
    <servlet-class>Call</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>eLogin</servlet-name>
    <servlet-class>eLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Android_response</servlet-name>
    <servlet-class>Android_response</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Android_search</servlet-name>
    <servlet-class>Android_search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxSearch</servlet-name>
    <servlet-class>AjaxSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxShow</servlet-name>
    <servlet-class>AjaxShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxShow</servlet-name>
    <url-pattern>/servlet/AjaxShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxSearch</servlet-name>
    <url-pattern>/servlet/AjaxSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Android_search</servlet-name>
    <url-pattern>/servlet/Android_search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Android_response</servlet-name>
    <url-pattern>/servlet/Android_response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/servlet/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewItems</servlet-name>
    <url-pattern>/servlet/shopping_cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>star</servlet-name>
    <url-pattern>/servlet/star</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/servlet/movie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logintest</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTest</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetaData</servlet-name>
    <url-pattern>/MetaData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Call</servlet-name>
    <url-pattern>/Call</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>eLogin</servlet-name>
    <url-pattern>/eLogin</url-pattern>
  </servlet-mapping>
</web-app>